# -*- coding: <utf-8> -*-

skritastevilka = 6421

while True:
    skritastevilka = raw_input("Ugani številko: ")

    if skritastevilka == "6421":
        print ("Čestitke! Uganili ste skrito število!")

    else:
        print ("Žal ste vnesli napačno število.")
